# Index for Return

- As the maturity of the bond increases, the MAPE and RMSE also increase

In [4]:
import math
import matplotlib
import numpy as np
import pandas as pd
import time

from sklearn.metrics import mean_squared_error
from datetime import date
from matplotlib import pyplot as plt
def get_mape(y_true, y_pred): 
    """
    Compute mean absolute percentage error (MAPE)
    """
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [12]:
df_1 = pd.read_csv("DataFre_3M_TranFreq_3M_Price1_xgboost.csv")
df_2 = pd.read_csv("DataFre_3M_TranFreq_3M_Price2_xgboost.csv")
df_3 = pd.read_csv("DataFre_3M_TranFreq_3M_Price3_xgboost.csv")
df_4 = pd.read_csv("DataFre_3M_TranFreq_3M_Price4_xgboost.csv")
df_5 = pd.read_csv("DataFre_3M_TranFreq_3M_Price5_xgboost.csv")

In [13]:
df_1

          date        est  y_sample      date.1
0   1994-01-01  96.665548    96.544  1994-01-01
1   1994-04-01  96.574424    95.138  1994-04-01
2   1994-07-01  96.400020    94.806  1994-07-01
3   1994-10-01  95.448301    94.136  1994-10-01
4   1995-01-01  94.311698    93.479  1995-01-01
5   1995-04-01  93.797351    93.940  1995-04-01
6   1995-07-01  93.566479    94.564  1995-07-01
7   1995-10-01  93.731946    94.621  1995-10-01
8   1996-01-01  94.463293    95.216  1996-01-01
9   1996-04-01  94.794428    94.618  1996-04-01
10  1996-07-01  94.800628    94.301  1996-07-01
11  1996-10-01  94.661260    94.707  1996-10-01
12  1997-01-01  94.514645    94.675  1997-01-01
13  1997-04-01  94.531688    94.360  1997-04-01
14  1997-07-01  94.485055    94.647  1997-07-01
15  1997-10-01  94.453755    94.853  1997-10-01
16  1998-01-01  94.445590    94.981  1998-01-01
17  1998-04-01  94.763973    94.810  1998-04-01
18  1998-07-01  94.857388    94.738  1998-07-01
19  1998-10-01  94.861855    95.725  1998-10-01
20  1999-01-01  95.344014    95.619  1999-01-01
21  1999-04-01  95.678770    95.409  1999-04-01
22  1999-07-01  95.615052    94.825  1999-07-01
23  1999-10-01  95.320549    94.587  1999-10-01

In [14]:
df_2_er_est = np.log(df_2['est'].shift(-1)) - np.log(df_2['est']) - np.log(df_1['y_sample']/100)
df_3_er_est = np.log(df_3['est'].shift(-1)) - np.log(df_3['est']) - np.log(df_1['y_sample']/100)
df_4_er_est = np.log(df_4['est'].shift(-1)) - np.log(df_4['est']) - np.log(df_1['y_sample']/100)
df_5_er_est = np.log(df_5['est'].shift(-1)) - np.log(df_5['est']) - np.log(df_1['y_sample']/100)
df_ave_er_est = (df_2_er_est+df_3_er_est+df_4_er_est+df_5_er_est)/4
df_ave_er_est = df_ave_er_est[:-1]
df_2_er_est = df_2_er_est[:-1]
df_3_er_est = df_3_er_est[:-1]
df_4_er_est = df_4_er_est[:-1]
df_5_er_est = df_5_er_est[:-1]

df_2_er = np.log(df_2['y_sample'].shift(-1)) - np.log(df_2['y_sample']) - np.log(df_1['y_sample']/100)
df_3_er = np.log(df_3['y_sample'].shift(-1)) - np.log(df_3['y_sample']) - np.log(df_1['y_sample']/100)
df_4_er = np.log(df_4['y_sample'].shift(-1)) - np.log(df_4['y_sample']) - np.log(df_1['y_sample']/100)
df_5_er = np.log(df_5['y_sample'].shift(-1)) - np.log(df_5['y_sample']) - np.log(df_1['y_sample']/100)
df_ave_er = (df_2_er+df_3_er+df_4_er+df_5_er)/4
df_ave_er = df_ave_er[:-1]
df_2_er = df_2_er[:-1]
df_3_er = df_3_er[:-1]
df_4_er = df_4_er[:-1]
df_5_er = df_5_er[:-1]

In [15]:
rmse_2 = math.sqrt(mean_squared_error(df_2_er, df_2_er_est))
mape_2 = get_mape(df_2_er, df_2_er_est)
print("RMSE for Price 2 on test set = %0.3f" % rmse_2)
print("MAPE for Price 2 on test set = %0.3f%%" % mape_2)

RMSE for Price 2 on test set = 0.015
MAPE for Price 2 on test set = 69.208%

In [16]:
rmse_3 = math.sqrt(mean_squared_error(df_3_er, df_3_er_est))
mape_3 = get_mape(df_3_er, df_3_er_est)
print("RMSE for Price 3 on test set = %0.3f" % rmse_3)
print("MAPE for Price 3 on test set = %0.3f%%" % mape_3)

RMSE for Price 3 on test set = 0.023
MAPE for Price 3 on test set = 55.587%

In [17]:
rmse_4 = math.sqrt(mean_squared_error(df_4_er, df_4_er_est))
mape_4 = get_mape(df_4_er, df_4_er_est)
print("RMSE for Price 4 on test set = %0.3f" % rmse_4)
print("MAPE for Price 4 on test set = %0.3f%%" % mape_4)

RMSE for Price 4 on test set = 0.031
MAPE for Price 4 on test set = 130.591%

In [18]:
rmse_5 = math.sqrt(mean_squared_error(df_5_er, df_5_er_est))
mape_5 = get_mape(df_5_er, df_5_er_est)
print("RMSE for Price 5 on test set = %0.3f" % rmse_5)
print("MAPE for Price 5 on test set = %0.3f%%" % mape_5)

RMSE for Price 5 on test set = 0.038
MAPE for Price 5 on test set = 129.820%

In [19]:
rmse_ave = math.sqrt(mean_squared_error(df_ave_er, df_ave_er_est))
mape_ave = get_mape(df_ave_er, df_ave_er_est)
print("RMSE on test set = %0.3f" % rmse_ave)
print("MAPE on test set = %0.3f%%" % mape_ave)

RMSE on test set = 0.027
MAPE on test set = 70.675%

In [21]:
df_result = pd.DataFrame({"average":[rmse_ave,mape_ave],"rx(2)":[rmse_2,mape_2],"rx(3)":[rmse_3,mape_3],"rx(4)":[rmse_4,mape_4],"rx(5)":[rmse_5,mape_5]},index=['RMSE','MAPE-%'])

In [22]:
df_result.to_csv("Result_RMSE_MAPE_Freq_3M.csv")