In [84]:
import pandas as pd
import datetime

In [85]:
txtdata=pd.read_table('Fama_Bliss_price.txt',sep='     ')
txtdata['Date']=pd.to_datetime(txtdata['Date'],format='%Y%m%d')

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [93]:
txtdata.to_csv('../Fama_Bliss_price.csv',sep=',',index=None)

          Date  Price1  Price2  Price3  Price4  Price5
0   1953-01-30  98.051  95.796  93.800  91.812  89.271
1   1953-02-27  97.950  95.703  93.666  91.617  88.923
2   1953-03-31  97.947  95.668  93.193  91.002  88.317
3   1953-04-30  97.664  95.161  93.622  90.763  87.408
4   1953-05-29  97.445  94.815  93.002  90.016  85.910
..         ...     ...     ...     ...     ...     ...
727 2013-08-30  99.841  99.182  97.564  94.955  92.014
728 2013-09-30  99.880  99.361  98.073  95.866  93.278
729 2013-10-31  99.870  99.393  98.182  96.074  93.529
730 2013-11-29  99.835  99.423  98.265  96.045  93.351
731 2013-12-31  99.832  99.219  97.617  94.852  91.599

[732 rows x 6 columns]