In [75]:
import pandas as pd
import numpy as np

In [76]:
df=pd.read_excel("Investor_Sentiment.xlsx",sheet_name='DATA')
df['Date']=pd.to_datetime(df['Date'],format='%Y%m')

In [77]:
columns=['Date','SENT^ ','SENT','pdnd','ripo','nipo','cefd','s','indpro','consdur','consnon','consserv','recess','employ','cpi']
for t in columns:
    for i in range(732):
        if (df[t][i]=='.'):
            df[t][i]=np.nan

D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [78]:
df

,Date,SENT^,SENT,pdnd,ripo,nipo,cefd,s,indpro,consdur,consnon,consserv,recess,employ,cpi
0,1958-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.7694,NaN,NaN,NaN,1,52076,28.600
1,1958-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.3263,NaN,NaN,NaN,1,51576,28.600
2,1958-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0771,NaN,NaN,NaN,1,51299,28.800
3,1958-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.7448,NaN,NaN,NaN,1,51027,28.900
4,1958-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.9386,NaN,NaN,NaN,0,50914,28.900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,2018-08-01,-0.132965,-0.237034,-9.61548,11.4,15,7.15475,0.078317,108.8232,1471.1,2906.8,9684.7,0,149467,252.146
728,2018-09-01,-0.209843,-0.294292,-8.56591,26.1,24,7.45249,0.0824277,109.0200,1468,2901.5,9710.8,0,149575,252.439
729,2018-10-01,-0.15722,-0.319598,-7.08007,21.3,27,11.0125,0.0792014,109.3289,1473.1,2927,9773,0,149852,252.885
730,2018-11-01,-0.232775,-0.362102,-8.87295,0.9,11,10.2223,0.079705,109.9836,1504,2938.1,9810.6,0,150048,252.038
731,2018-12-01,-0.282087,-0.409961,-8.78468,-1.4,9,10.8992,0.0810684,110.0826,1475.4,2882.6,9818.2,0,150275,251.233

In [80]:
df.to_csv("../Investor_Sentiment.csv",index = None)