In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_excel("RFS2009.xls",header=5)
df.drop(df.columns[12:13][0],inplace=True,axis=1)

In [41]:
df = df.iloc[:-8,:]
df.columns = ['Date', 'CP', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8',
       'F5', 'F6', 'yr2', 'yr3', 'yr4', 'yr5']

In [42]:
df.to_csv("../RFS")

,Date,CP,f1,f2,f3,f4,f5,f6,f7,f8,F5,F6,yr2,yr3,yr4,yr5
0,1964-01-01,-1.4338,-0.174830,-0.066179,-0.084153,-0.11658,-0.55531,0.139480,-0.27565,0.12957,1.4507,1.5453,-0.689506,-0.623416,-0.984943,-0.790258
1,1964-02-01,-1.3139,0.889420,-0.178340,-0.253730,0.70795,-0.15291,0.147770,-0.15828,-0.41665,-1.1980,-0.9936,-0.690138,-0.725112,-1.065802,-0.751891
2,1964-03-01,0.035385,0.298460,0.366750,-0.631570,0.28747,-0.47425,0.799710,-0.65753,-1.10970,-0.6360,-0.9884,-0.599352,-0.901580,-0.945417,-1.243110
3,1964-04-01,-0.4357,1.040600,-0.560570,0.553750,-0.51038,1.23010,0.047167,-0.26787,0.46571,0.1144,0.6997,-0.328062,-0.487274,-0.678725,-1.028202
4,1964-05-01,-0.49251,0.664060,-0.147240,0.241860,0.20619,0.52112,0.378850,-0.17149,-0.34042,-0.4313,-0.2628,-0.421575,-0.341708,-0.304491,-0.558134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2003-08-01,0.31584,0.031653,-0.374180,-0.799710,-1.12470,-2.02050,-0.257370,0.32898,0.40298,1.7512,2.1534,1.191682,1.978154,2.564065,2.304702
476,2003-09-01,-1.4918,0.328840,-1.274800,0.189290,0.20226,-0.87456,-1.982500,-0.83900,0.78571,0.9672,2.2896,0.878269,1.747050,2.203953,2.126934
477,2003-10-01,-0.23052,0.276480,-1.198300,0.404480,1.32890,-1.62570,-0.236950,0.19599,0.70122,0.3889,1.6417,0.751084,1.397815,1.567295,1.573897
478,2003-11-01,0.032446,0.701030,-1.122800,0.482390,0.20769,-0.84003,-0.049277,0.72335,0.67282,0.3335,1.4976,1.127339,2.243442,2.881277,3.071818
479,2003-12-01,-0.43831,0.320790,-0.725100,-2.049200,-0.46388,-1.39760,-1.038600,-0.17181,0.81286,0.9735,1.7432,0.729866,1.215251,1.518266,1.460099