# Index for Return

- As the maturity of the bond increases, the MAPE and RMSE also increase

In [4]:
import math
import matplotlib
import numpy as np
import pandas as pd
import time

from sklearn.metrics import mean_squared_error
from datetime import date
from matplotlib import pyplot as plt
def get_mape(y_true, y_pred): 
    """
    Compute mean absolute percentage error (MAPE)
    """
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [5]:
df_1 = pd.read_csv("DataPre_3M_TranPre_3M_Price1_xgboost.csv")
df_2 = pd.read_csv("DataPre_3M_TranPre_3M_Price2_xgboost.csv")
df_3 = pd.read_csv("DataPre_3M_TranPre_3M_Price3_xgboost.csv")
df_4 = pd.read_csv("DataPre_3M_TranPre_3M_Price4_xgboost.csv")
df_5 = pd.read_csv("DataPre_3M_TranPre_3M_Price5_xgboost.csv")

In [6]:
df_1

          date        est  y_sample      date.1
0   1994-01-01  96.475316    95.622  1994-01-01
1   1994-02-01  96.299930    95.138  1994-02-01
2   1994-03-01  95.820309    94.841  1994-03-01
3   1994-04-01  95.403427    94.718  1994-04-01
4   1994-05-01  95.003215    94.806  1994-05-01
..         ...        ...       ...         ...
67  1999-08-01  94.790893    94.587  1999-08-01
68  1999-09-01  94.719604    94.385  1999-09-01
69  1999-10-01  94.664204    94.293  1999-10-01
70  1999-11-01  94.487178    94.005  1999-11-01
71  1999-12-01  94.310259    94.085  1999-12-01

[72 rows x 4 columns]

In [7]:
df_2_er_est = np.log(df_2['est'].shift(-1)) - np.log(df_2['est']) - np.log(df_1['y_sample']/100)
df_3_er_est = np.log(df_3['est'].shift(-1)) - np.log(df_3['est']) - np.log(df_1['y_sample']/100)
df_4_er_est = np.log(df_4['est'].shift(-1)) - np.log(df_4['est']) - np.log(df_1['y_sample']/100)
df_5_er_est = np.log(df_5['est'].shift(-1)) - np.log(df_5['est']) - np.log(df_1['y_sample']/100)
df_ave_er_est = (df_2_er_est+df_3_er_est+df_4_er_est+df_5_er_est)/4
df_ave_er_est = df_ave_er_est[:-1]
df_2_er_est = df_2_er_est[:-1]
df_3_er_est = df_3_er_est[:-1]
df_4_er_est = df_4_er_est[:-1]
df_5_er_est = df_5_er_est[:-1]

df_2_er = np.log(df_2['y_sample'].shift(-1)) - np.log(df_2['y_sample']) - np.log(df_1['y_sample']/100)
df_3_er = np.log(df_3['y_sample'].shift(-1)) - np.log(df_3['y_sample']) - np.log(df_1['y_sample']/100)
df_4_er = np.log(df_4['y_sample'].shift(-1)) - np.log(df_4['y_sample']) - np.log(df_1['y_sample']/100)
df_5_er = np.log(df_5['y_sample'].shift(-1)) - np.log(df_5['y_sample']) - np.log(df_1['y_sample']/100)
df_ave_er = (df_2_er+df_3_er+df_4_er+df_5_er)/4
df_ave_er = df_ave_er[:-1]
df_2_er = df_2_er[:-1]
df_3_er = df_3_er[:-1]
df_4_er = df_4_er[:-1]
df_5_er = df_5_er[:-1]

In [8]:
rmse_2 = math.sqrt(mean_squared_error(df_2_er, df_2_er_est))
mape_2 = get_mape(df_2_er, df_2_er_est)
print("RMSE for Price 2 on test set = %0.3f" % rmse_2)
print("MAPE for Price 2 on test set = %0.3f%%" % mape_2)

RMSE for Price 2 on test set = 0.006
MAPE for Price 2 on test set = 8.709%

In [9]:
rmse_3 = math.sqrt(mean_squared_error(df_3_er, df_3_er_est))
mape_3 = get_mape(df_3_er, df_3_er_est)
print("RMSE for Price 3 on test set = %0.3f" % rmse_3)
print("MAPE for Price 3 on test set = %0.3f%%" % mape_3)

RMSE for Price 3 on test set = 0.009
MAPE for Price 3 on test set = 14.106%

In [10]:
rmse_4 = math.sqrt(mean_squared_error(df_4_er, df_4_er_est))
mape_4 = get_mape(df_4_er, df_4_er_est)
print("RMSE for Price 4 on test set = %0.3f" % rmse_4)
print("MAPE for Price 4 on test set = %0.3f%%" % mape_4)

RMSE for Price 4 on test set = 0.012
MAPE for Price 4 on test set = 19.829%

In [11]:
rmse_5 = math.sqrt(mean_squared_error(df_5_er, df_5_er_est))
mape_5 = get_mape(df_5_er, df_5_er_est)
print("RMSE for Price 5 on test set = %0.3f" % rmse_5)
print("MAPE for Price 5 on test set = %0.3f%%" % mape_5)

RMSE for Price 5 on test set = 0.015
MAPE for Price 5 on test set = 27.072%

In [12]:
rmse_ave = math.sqrt(mean_squared_error(df_ave_er, df_ave_er_est))
mape_ave = get_mape(df_ave_er, df_ave_er_est)
print("RMSE on test set = %0.3f" % rmse_ave)
print("MAPE on test set = %0.3f%%" % mape_ave)

RMSE on test set = 0.010
MAPE on test set = 16.352%

In [13]:
df_result = pd.DataFrame({"average":[rmse_ave,mape_ave],"rx(2)":[rmse_2,mape_2],"rx(3)":[rmse_3,mape_3],"rx(4)":[rmse_4,mape_4],"rx(5)":[rmse_5,mape_5]},index=['RMSE','MAPE-%'])

In [14]:
df_result.to_csv("Result_RMSE_MAPE_Freq_3M.csv")

## Calculate the Benchmark

In [24]:
df = pd.read_csv("../../Data/XGBoost_Train.csv")

df_2_er_ = np.log(df['Price2'].shift(-1)) - np.log(df['Price2']) - np.log(df['Price1']/100)
df_3_er_ = np.log(df['Price3'].shift(-1)) - np.log(df['Price3']) - np.log(df['Price1']/100)
df_4_er_ = np.log(df['Price4'].shift(-1)) - np.log(df['Price4']) - np.log(df['Price1']/100)
df_5_er_ = np.log(df['Price5'].shift(-1)) - np.log(df['Price5']) - np.log(df['Price1']/100)
df_ave_er_ = (df_2_er_+df_3_er_+df_4_er_+df_5_er_)/4

b_2 = math.sqrt(mean_squared_error(np.array([df_2_er_.mean(),]*len(df_2_er)), df_2_er))
b_3 = math.sqrt(mean_squared_error(np.array([df_3_er_.mean(),]*len(df_2_er)), df_3_er))
b_4 = math.sqrt(mean_squared_error(np.array([df_4_er_.mean(),]*len(df_2_er)), df_4_er))
b_5 = math.sqrt(mean_squared_error(np.array([df_5_er_.mean(),]*len(df_2_er)), df_5_er))
b_ave = math.sqrt(mean_squared_error(np.array([df_ave_er_.mean(),]*len(df_2_er)), df_ave_er))
print("RMSE of b_2 on test set = %0.3f" % b_2)
print("RMSE of b_3 on test set = %0.3f" % b_3)
print("RMSE of b_4 on test set = %0.3f" % b_4)
print("RMSE of b_5 on test set = %0.3f" % b_5)
print("RMSE of b_ave on test set = %0.3f" % b_ave)

RMSE of b_2 on test set = 0.029
RMSE of b_3 on test set = 0.030
RMSE of b_4 on test set = 0.031
RMSE of b_5 on test set = 0.032
RMSE of b_ave on test set = 0.030

In [26]:
df_result_ = pd.DataFrame({"average":[b_ave,],"rx(2)":[b_2,],"rx(3)":[b_3,],"rx(4)":[b_4,],"rx(5)":[b_5,]},index=['RMSE',])
df_result_.to_csv("Benchmark_RMSE_MAPE_Pre_3M.csv")