In [5]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price1_xgboost.csv')
df2 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price2_xgboost.csv')
df3 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price3_xgboost.csv')
df4 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price4_xgboost.csv')
df5 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price5_xgboost.csv')
df1['change'] = df1['est'] - df1['y_sample']
df2['change'] = df2['est'] - df2['y_sample']
df3['change'] = df3['est'] - df3['y_sample']
df4['change'] = df4['est'] - df4['y_sample']
df5['change'] = df5['est'] - df5['y_sample']

In [8]:
df_cg = pd.concat([df1['date'],df1['change'],df2['change'],df3['change'],df4['change'],df5['change']],axis=1)

In [9]:
df_cg.columns =['date', 'change1', 'change2', 'change3', 'change4', 'change5']
df_cg.index = df_cg['date']
df_cg.drop(['date'],axis=1,inplace=True)

In [10]:
Long  = pd.DataFrame(df1['date'],columns = ['date'])
Short = pd.DataFrame(df1['date'],columns = ['date'])

In [11]:
df_cg

             change1   change2   change3   change4   change5
date
1994-01-01  0.009124  0.149617  0.222996  0.178819  0.322024
1994-02-01  0.502496  0.962517  1.464036  1.756583  1.831811
1994-03-01  0.912652  1.811320  3.066418  3.610092  3.742996
1994-04-01  1.257705  2.515150  3.232316  4.083616  4.204134
1994-05-01  1.164743  1.757299  1.764459  1.266139  1.800888
...              ...       ...       ...       ...       ...
1999-08-01  0.308181  0.353821  0.546466  0.786061  0.834235
1999-09-01  0.039043 -0.009828 -0.093120  0.116354  0.043544
1999-10-01  0.167135  0.276706  0.303767  0.532931  0.483732
1999-11-01  0.267649  0.511037  0.546866  0.604629  0.661344
1999-12-01  0.189826  0.652952  0.902445  1.131132  1.373028

[72 rows x 5 columns]

In [12]:
def max2(x):
    temp = sorted(x)
    temp = temp[3]
    for i in range(5):
        if temp == x[i]:
            return i
def min2(x):
    temp = sorted(x)
    temp = temp[1]
    for i in range(5):
        if temp == x[i]:
            return i
def max1(x):
    temp = sorted(x)
    temp = temp[4]
    for i in range(5):
        if temp == x[i]:
            return i
def min1(x):
    temp = sorted(x)
    temp = temp[0]
    for i in range(5):
        if temp == x[i]:
            return i
        
max2 = df_cg.apply(max2,axis=1)
min2 = df_cg.apply(min2,axis=1)
max1 = df_cg.apply(max1,axis=1)
min1 = df_cg.apply(min1,axis=1)

In [13]:
Long['1'] = (np.array([max1==0,max2==0]).T).sum(axis=1)
Long['2'] = (np.array([max1==1,max2==1]).T).sum(axis=1)
Long['3'] = (np.array([max1==2,max2==2]).T).sum(axis=1)
Long['4'] = (np.array([max1==3,max2==3]).T).sum(axis=1)
Long['5'] = (np.array([max1==4,max2==4]).T).sum(axis=1)

In [14]:
Short['1'] = (np.array([min1==0,min2==0]).T).sum(axis=1)
Short['2'] = (np.array([min1==1,min2==1]).T).sum(axis=1)
Short['3'] = (np.array([min1==2,min2==2]).T).sum(axis=1)
Short['4'] = (np.array([min1==3,min2==3]).T).sum(axis=1)
Short['5'] = (np.array([min1==4,min2==4]).T).sum(axis=1)

In [17]:
Long.to_csv("../Strategy_Backtest/Long_View.csv")
Short.to_csv("../Strategy_Backtest/Short_View.csv")