In [31]:
import pandas as pd
import numpy as np

In [51]:
df1 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price1_xgboost.csv')
df2 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price2_xgboost.csv')
df3 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price3_xgboost.csv')
df4 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price4_xgboost.csv')
df5 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price5_xgboost.csv')
df1['change'] = (np.log(df1['est'])/100 - np.log(df1['y_sample'])/100)
df2['change'] = (np.log(df2['est'])/100 - np.log(df2['y_sample'])/100)
df3['change'] = (np.log(df3['est'])/100 - np.log(df3['y_sample'])/100)
df4['change'] = (np.log(df4['est'])/100 - np.log(df4['y_sample'])/100)
df5['change'] = (np.log(df5['est'])/100 - np.log(df5['y_sample'])/100)

In [32]:
df1['change'] = (df1['est'] - df1['y_sample'])/df1['y_sample']
df2['change'] = (df2['est'] - df2['y_sample'])/df2['y_sample']
df3['change'] = (df3['est'] - df3['y_sample'])/df3['y_sample']
df4['change'] = (df4['est'] - df4['y_sample'])/df4['y_sample']
df5['change'] = (df5['est'] - df5['y_sample'])/df5['y_sample']

In [52]:
df_cg = pd.concat([df1['date'],df1['change'],df2['change'],df3['change'],df4['change'],df5['change']],axis=1)

In [53]:
df_cg.columns =['date', 'change1', 'change2', 'change3', 'change4', 'change5']
df_cg.index = df_cg['date']
df_cg.drop(['date'],axis=1,inplace=True)

In [54]:
Long  = pd.DataFrame(df1['date'],columns = ['date'])
Short = pd.DataFrame(df1['date'],columns = ['date'])

In [55]:
df_cg.head()

                 change1   change2   change3   change4   change5
date
1994-01-01  9.450585e-07  0.000016  0.000025  0.000022  0.000041
1994-02-01  5.219650e-05  0.000105  0.000169  0.000215  0.000239
1994-03-01  9.499112e-05  0.000199  0.000357  0.000448  0.000498
1994-04-01  1.313318e-04  0.000278  0.000381  0.000515  0.000568
1994-05-01  1.220621e-04  0.000196  0.000211  0.000163  0.000249

In [56]:
def max2(x):
    temp = sorted(x)
    temp = temp[3]
    for i in range(5):
        if temp == x[i]:
            return i
def min2(x):
    temp = sorted(x)
    temp = temp[1]
    for i in range(5):
        if temp == x[i]:
            return i
def max1(x):
    temp = sorted(x)
    temp = temp[4]
    for i in range(5):
        if temp == x[i]:
            return i
def min1(x):
    temp = sorted(x)
    temp = temp[0]
    for i in range(5):
        if temp == x[i]:
            return i
        
max2 = df_cg.apply(max2,axis=1)
min2 = df_cg.apply(min2,axis=1)
max1 = df_cg.apply(max1,axis=1)
min1 = df_cg.apply(min1,axis=1)

In [57]:
Long['1'] = (np.array([max1==0,max2==0]).T).sum(axis=1)
Long['2'] = (np.array([max1==1,max2==1]).T).sum(axis=1)
Long['3'] = (np.array([max1==2,max2==2]).T).sum(axis=1)
Long['4'] = (np.array([max1==3,max2==3]).T).sum(axis=1)
Long['5'] = (np.array([max1==4,max2==4]).T).sum(axis=1)

In [58]:
Short['1'] = (np.array([min1==0,min2==0]).T).sum(axis=1)
Short['2'] = (np.array([min1==1,min2==1]).T).sum(axis=1)
Short['3'] = (np.array([min1==2,min2==2]).T).sum(axis=1)
Short['4'] = (np.array([min1==3,min2==3]).T).sum(axis=1)
Short['5'] = (np.array([min1==4,min2==4]).T).sum(axis=1)

In [59]:
Long.to_csv("../Strategy_Backtest/Long_View.csv")
Short.to_csv("../Strategy_Backtest/Short_View.csv")