# Set the View Martix for the Transaction

For all 5 kinds of assets:

Long: the relatively best two asset

Short: the relatively worst two asset

In [110]:
import pandas as pd
import numpy as np

In [111]:
df1 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price1_xgboost.csv')
df2 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price2_xgboost.csv')
df3 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price3_xgboost.csv')
df4 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price4_xgboost.csv')
df5 = pd.read_csv('Out/DataFre_1M_TranFreq_1M_Price5_xgboost.csv')
df1['change'] = np.log(df1['est']/100) - np.log(df1['y_sample']/100)
df2['change'] = np.log(df2['est']/100) - np.log(df2['y_sample']/100)
df3['change'] = np.log(df3['est']/100) - np.log(df3['y_sample']/100)
df4['change'] = np.log(df4['est']/100) - np.log(df4['y_sample']/100)
df5['change'] = np.log(df5['est']/100) - np.log(df5['y_sample']/100)

In [112]:
df_cg = pd.concat([df1['date'],df1['change'],df2['change'],df3['change'],df4['change'],df5['change']],axis=1)

In [113]:
df_cg.columns =['date', 'change1', 'change2', 'change3', 'change4', 'change5']
df_cg.index = df_cg['date']
df_cg.drop(['date'],axis=1,inplace=True)

In [114]:
Long  = pd.DataFrame(df1['date'],columns = ['date'])
Short = pd.DataFrame(df1['date'],columns = ['date'])

In [115]:
df_cg.head()

             change1   change2   change3   change4   change5
date
1994-01-01  0.000095  0.001622  0.002544  0.002159  0.004129
1994-02-01  0.005220  0.010506  0.016879  0.021521  0.023933
1994-03-01  0.009499  0.019883  0.035702  0.044843  0.049787
1994-04-01  0.013133  0.027791  0.038103  0.051464  0.056815
1994-05-01  0.012206  0.019594  0.021102  0.016320  0.024881

In [116]:
def max2(x):
    temp = sorted(x)
    temp = temp[3]
    for i in range(5):
        if temp == x[i]:
            return i
def min2(x):
    temp = sorted(x)
    temp = temp[1]
    for i in range(5):
        if temp == x[i]:
            return i
def max1(x):
    temp = sorted(x)
    temp = temp[4]
    for i in range(5):
        if temp == x[i]:
            return i
def min1(x):
    temp = sorted(x)
    temp = temp[0]
    for i in range(5):
        if temp == x[i]:
            return i
        
max2 = df_cg.apply(max2,axis=1)
min2 = df_cg.apply(min2,axis=1)
max1 = df_cg.apply(max1,axis=1)
min1 = df_cg.apply(min1,axis=1)

In [117]:
Long['1'] = (np.array([max1==0,max2==0]).T).sum(axis=1)
Long['2'] = (np.array([max1==1,max2==1]).T).sum(axis=1)
Long['3'] = (np.array([max1==2,max2==2]).T).sum(axis=1)
Long['4'] = (np.array([max1==3,max2==3]).T).sum(axis=1)
Long['5'] = (np.array([max1==4,max2==4]).T).sum(axis=1)

In [118]:
Short['1'] = (np.array([min1==0,min2==0]).T).sum(axis=1)
Short['2'] = (np.array([min1==1,min2==1]).T).sum(axis=1)
Short['3'] = (np.array([min1==2,min2==2]).T).sum(axis=1)
Short['4'] = (np.array([min1==3,min2==3]).T).sum(axis=1)
Short['5'] = (np.array([min1==4,min2==4]).T).sum(axis=1)

In [119]:
Long.to_csv("Long_View.csv")
Short.to_csv("Short_View.csv")